<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="SoundsPath" value=""/>
      <add key="pathButton1" value=""/>
      <add key="pathButton2" value=""/>
      <add key="pathButton3" value=""/>
      <add key="pathButton4" value=""/>
      <add key="pathButton5" value=""/>
      <add key="pathButton6" value=""/>
      <add key="pathButton7" value=""/>
      <add key="pathButton8" value=""/>
      <add key="pathButton9" value=""/>
      <add key="pathButton10" value=""/>
      <add key="pathButton11" value=""/>
      <add key="pathButton12" value=""/>
      <add key="pathButton13" value=""/>
      <add key="pathButton14" value=""/>
      <add key="pathButton15" value=""/>
      <add key="pathButton16" value=""/>
    </appSettings>
</configuration>